html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    
    background-size: cover;
    background-position: center center;
}

#title {
    text-align: center;
    font-family: Orbitron;
    font-size: 10vh;
    line-height: 1vh;
    color: gold;
    text-shadow: 0.4rem 0.4rem #800080,
                 0.4rem 0.4rem 1.2rem rgb(128, 0, 128);
    padding-top: 10vh;
}

#title-font {
    margin-top: 0;
}

#cykg {
    display: block;
    margin: auto;
    height: 34vh;
    border-radius: 1vh;
    box-shadow: 0 0 10vh 1vh rgb(80, 0, 80);
    cursor: pointer;
}

audio {
    display: block;
    margin: auto;
    margin-top: 2vh;
    height: 6vh;
    width: 36vh;
}

button {
    display: block;
    width: 24vh;
    height: 8vh;
    margin: auto;
    margin-top: 6vh;
    padding: 0.8vh;
    color: orange;
    background-color: white;
    border: 0.5vh solid gold;
    border-radius: 1vh;
    font-size: 3vh;
    font-weight: bold;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: gold;
    color: white;
    box-shadow: 0 2vh 4vh 0 rgba(80, 0, 80, 0.6);
}